h1{
    color: tomato;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}
h2{
    color: tomato;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}
h3{
    color: brown;
}
h5{
    color: rgb(33, 0, 93);
}
p{
    font-family: 'Courier New', Courier, monospace;
    font-size: smaller;
    font-weight: bold;
}
ul.a {
    text-align: left;
    margin-top: 20px;

  }
li{
    list-style-image: url('./assets/icons8-list.gif'); 
    margin-left: 34%;
}
#center {    
    text-align: center;  
    } 